/* style.css */
body{
    background-color: #3498db;
}
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.page-content {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;
}
/* style.css */
 /* Slide the element up */

h4{
   text-align: center;
   font-size: 50px;
}
.button{
    align-items: center;
}
